<div class="container-fluid h-100">
  <div class="row h-100">
    <aside class="col-3 h-100">
      <%= render partial: "users/sidebar", local: { following: @following, followers: @followers } %>
    </aside>
    <div class="col-9">
      <%= render "users/header" %>
      <div class="container-flex">
        <div class="row">
          <main class="col-8">
            <div class="opinion-form-wrap">
              <h3>Add Opinion</h3>
              <%= form_with model: @opinion do |form| %>
                <%= form.text_field :opinion %>
              <% end %>
            </div>
            <div class="opinions-list bg-light p3">
              <h3 class="opinions-header h4">Recent Opinions</h3>
              <%= render @opinions %> 
            </div>
          </main>
          <aside class="col-4 h-100">
            <h3 class="mt-3 h4">Who To Follow</h3>
          </aside>
        </div>
      </div>
      <footer></footer>
    </div>
  </div>
</div>
